html{
  position: relative;
}

body{
  margin:0px !important;
  padding: 0px;
}

#box{
  display: block;
  border: 2px solid;
  border-radius: 4px;
  width: 60%;
  height: 700px;
  margin-left: 20%;
  margin-top: 5%;
  box-shadow: 3px 3px 4px gray;
}

select{
  width: 60%;
}

.square{
  display: block;
  width: 80%;
  height: 60%;
  margin-left: 20%;
  margin-top: 5%;
}

#register_category_text{
  width: 80%;
  height: 80%;
}

#btn{
  display: block;
  width: 85%;
  text-align: right;
}

#message{
  margin-left: 20%;
  margin-top: 5%;
  color:red;
  font-size: large;
  font-weight: bold;
}

#box_category{
  left: -100%;
  opacity: 0;
  position: absolute;
  display: block;
  border: 2px solid;
  border-radius: 4px;
  width: 20%;
  height: 700px;
  margin-left: 18%;
  box-shadow: 3px 3px 4px gray;
  background-color:white;
}

#box_category.js_active {
  left: 10px;
  z-index: 9999;
  opacity: 1;
}


.square_category{
  overflow-wrap: break-word;
  margin-top: 5%;
  margin-left:3%;
  margin-right:3%;
  margin-bottom: 5%;
  height: 600px;
  overflow-y: scroll;
}

#confirm_category{
  margin-top: 3%;
  margin-left:3%;
}

.btn_catgory_topic {
  margin-left: 5%;
}
