html{
  position: relative;
}

body{
  margin:0px !important;
  padding: 0px;
}

#box{
  display: block;
  border: 2px solid;
  border-radius: 4px;
  width: 60%;
  height: 700px;
  margin-left: 20%;
  margin-top: 5%;
  box-shadow: 3px 3px 4px gray;
}

.btn_category {
  margin-left: 5%;
}

#btn_register_topic{
  width: 90%;
  text-align: right;
}

.setting{
  width: 4%;
  height: 4%;
  margin-left: 10px;
  margin-top: 2%;
}

.use{
  width: 4%;
  height: 4%;
  margin-left: 15px;
  margin-top: 2%;
}

.square{
  border: 2px solid;
  font-size: 35px;
  margin-top: 15%;
  margin-left: 5%;
  margin-right: 5%;
  height: 300px;
  padding: 5px;
}

.odai_out{
  font-size: 35px;
  text-align: center;
  line-height:160px;
  margin-top: 10%;
  height: 100px;
  padding: 5px;
}

.odai_in{
  display: inline;
  text-align: center;
  font-size: 35px;
  margin-top: 20%;
  height: 100px;
  padding: 5px;
}

#btn{
  display: block;
  width: 90%;
  text-align: right;
  margin-top: 3%;
}

#btn_next{
  margin-left: 2%;  
}

#box_category{
  left: -100%;
  opacity: 0;
  position: absolute;
  display: block;
  border: 2px solid;
  border-radius: 4px;
  width: 20%;
  height: 700px;
  margin-left: 18%;
  box-shadow: 3px 3px 4px gray;
  background-color:white;
}

#box_category.js_active {
  left: 10px;
  z-index: 9999;
  opacity: 1;
}


.square_category{
  overflow-wrap: break-word;
  margin-top: 5%;
  margin-left:3%;
  margin-right:3%;
  margin-bottom: 5%;
  height: 650px;
}

#confirm_category{
  margin-top: 3%;
  margin-left:3%;
}

#category_bun{
  margin-top: 3%;  
}